/* For mobile phones: */
  
  * {
    box-sizing: border-box;
  }

  /*Phan menu*/

  #active {
    color: orange;
    }


  .menu_tablet{display: none;}
 
  .header {
    text-align: center ;
    background-color: white;
    color: blue;
  }

  .bar {
    padding-top: 3.5%;
    padding-left: 5%;
  }

  .search { 
    background-color: white;
    padding-top: 3.5%;
    padding-left: 5%;
  }

  /*Phan thanh truot*/

  .carousel-inner img{
    width: 100%;
    object-fit: cover;
  }

  .item{
    height: 300px;
  }

  
  @media only screen and (min-width: 768px) {
    /* For tablets: */
   
  /*Phan menu*/ 

    .bar {display: none;}

    .menu_desktop{display: none;}

    .menu{
      background-color: blue;
    }

    .header {
      text-align: center ;
      color: white;
      background-color: blue;
    }

    .menu_tablet{
      display: block;
      background-color: blue; 
    }

    .menu_tablet a {
      color: white;
      padding-right: 2%;
      padding-top: 5%;
      display: inline-block;
    }
   
    .menu_tablet a:hover {
      color: orange;
      text-decoration: none;
  }
    
   .search { 
      background-color: blue;
      padding-left: 0;
      padding-top: 2%;
    }

    .search a {
      color:white;
      display: block;
    }

  /*Phan thanh truot*/

  .item{
    height: 400px;
  }

  }
  @media only screen and (min-width: 992px) {
    /* For desktop: */
  
  /*Phan menu*/ 

    .menu_desktop
      {
      display: block;
      background-color: blue; 
      }

    .menu_desktop a {
      color: white;
      padding-right: 2%;
      padding-top: 3%;
      display: inline-block;
    }

    .menu_desktop a:hover {
        color: orange;
        text-decoration: none;
    }
 
    .search { 
      background-color: blue;
      padding-left: 0;
      padding-top: 1%;
    }

    .search a {
      color:white;
      display: block;
    }

  /*Phan thanh truot*/

  .item{
    height: 500px;
  }